/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/about-hero-image.jpg') center/cover;
    min-height: 70vh;
}

.story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 2rem 0;
    align-items: center;
}

.story-container img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(98, 98, 98);
}
