/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/about-hero-image.jpg') center/cover;
    min-height: 70vh;
}

/* History section */
.story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 2rem 0;
    align-items: center;
}

.story-container img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(98, 98, 98);
}

/* Mission / vission section */
.mission {
    background: linear-gradient(135deg, #8B0000, #20323B);
    color: white;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 3rem;
}

.mission h2, h3 {
    color: #DAA520;
}

.mission h2 {
    text-align: center;
}

#mission-container {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

/* Gallery Grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
