/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-image.jpg') center/cover;
    min-height: 70vh;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    border-radius: 10px;
    overflow: hidden;
}

.schedule-table td {
    padding: 1rem;
    border-bottom: 1px solid #dadada;
}

.schedule-table th {
    background: linear-gradient(135deg, #8B0000, #2C3E50);
    color: white;
    padding: 1rem;
}

.schedule-table tr:hover {
    background-color: #d5d7da;
}

.schedule-table .btn{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
