/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-image.jpg') center/cover;
    min-height: 100vh;
}

#btn-explore-events {
    margin-bottom: 20px;
}

/* Featured events section*/
.event-date {
    color: #DAA520;
    font-weight: 600;
    margin-bottom: 1rem;
}
