@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2.5rem;
    color: #8B0000;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

section {
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 30px;
    background: linear-gradient(135deg, #3C0D0E, #20323B);
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

/* Hero section */
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 2rem;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.3rem;
    max-width: 600px;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #20323B;
    color: white;
}