* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 30px;
    background: linear-gradient(135deg, #3C0D0E, #20323B);
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-image.jpg') center/cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 2rem;
}